/* START NAVBAR */
. {
}
body {
}

.menu {
	background-color: gray;
	margin: 15px 30px;
	height: 1000px;

}
.menu-title {
	text-align: center;
	color: black;
	font-size: 1.3em; 
	font-weight: bold;
	padding: 5px 0px;
}
.menu-content {
	padding: 0 20px 20px;
}

h1 {
	margin: 20px 0px; 
}

.navbar {
	 
	}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}
/********** small devices only **********/
@media (max-width: 767) {

}

